<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="../img/img_logo.png" type="image/x-icon" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../css/style.css" />
    <title>BattleFRONT - Produtos</title>
  </head>
  <body>
    <header>
      <nav
        class="navbar navbar-expand-lg navbar-dark fixed-top pt-1 estilo-barra-navegacao"
      >
        <section class="container-fluid ms-3">
          <a class="navbar-brand texto-barra-navegacao" href="../../../index.html">
            <img
              class="logo-barranav"
              src="../img/img_logo.png"
              alt="Logo BattleFRONT"
            />
            BattleFRONT</a
          >
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div
            class="collapse navbar-collapse justify-content-end"
            id="navbarNavAltMarkup"
          >
            <ul class="navbar-nav">
              <li class="nav-item">
                <a
                  class="nav-link active d-flex justify-content-end estilo-link-barranav"
                  href="./produtos.html"
                  >Serviços</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link active d-flex justify-content-end estilo-link-barranav"
                  href="./contato.html"
                  >Contato</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link active d-flex justify-content-end estilo-link-barranav"
                  href="./Cadastro.html"
                  >Cadastro</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link active d-flex justify-content-end estilo-link-barranav"
                  href="./Login.html"
                  >Login</a
                >
              </li>
            </ul>
          </div>
        </section>
      </nav>
    </header>

    <main>
      <section class="container mt-3 pt-5 d-flex flex-column">
        <h2 class="secao-fonte-titulo">Nosso modelo</h3>
        <p class="secao-fonte-texto">
          Contamos com uma excelente interface, desenvolvida especialmente para
          o dev que está <strong>começando</strong> seus estudos neste momento.<br>
          O nosso modelo de estudos identifica os erros semânticos e modifica sua cor, a fim de que você possa ter uma <strong>percepção melhor</strong> de onde eles estão.<br>
          Junto a isso, o próprio sistema fornece sugestões se você estiver com
          dificuldades em seguir as instruções do exercício.<br><br>
          Para começar a utilizar a plataforma é necessário selecionar um dos planos
          abaixo e realizar o cadastro:
        </p>
      </section>

      <section class="container d-flex justify-content-center">
        <div class="row d-flex justify-content-center mb-5">

          <article class="d-flex justify-content-center col-12 col-xl-4 col-lg-6 col-md-10">
            <div class="card-externo text-center mb-4">
              <div class="card-header py-3">
                <h4 class="my-0 fw-normal">Plano Gratuito</h4>
              </div>
              <div class="card-body">
                <h2 class="card-title">R$0<small class="text-muted fw-light">/mês</small></h2>
                <ul class="list-unstyled mt-3 mb-4">
                  <li>Desafios de flexbox</li>
                  <li>Landing pages</li>
                  <li>+ 3 projetos</li>
                  <li>+ 2 e-books</li>
                </ul>
                <a href="./Cadastro.html" type="button" class="w-100 btn btn-lg botao-cor-gratis">Começar os estudos</a>
              </div>
            </div>
          </article>

          <article class="d-flex justify-content-center col-12 col-xl-4 col-lg-6 col-md-10">
            <div class="card-externo text-center mb-4">
              <div class="card-header py-3">
                <h4 class="my-0 fw-normal">Plano Plus</h4>
              </div>
              <div class="card-body">
                <h2 class="card-title">R$19,90<small class="text-muted fw-light">/mês</small></h2>
                <ul class="list-unstyled mt-3 mb-4">
                  <li>Desafios básicos de Javascript</li>
                  <li>Lógica de programação</li>
                  <li>+ 5 projetos</li>
                  <li>+ 3 e-books</li>
                </ul>
                <a href="./Cadastro.html" type="button" class="w-100 btn btn-lg botao-cor-especial">Escolher</a>
              </div>
            </div>
          </article>

          <article class="d-flex justify-content-center col-12 col-xl-4 col-lg-6 col-md-10">
            <div class="card-externo-variavel text-center mb-4">
              <div class="card-header py-3 card-externo-cabecalho">
                <h4 class="my-0 fw-normal">Plano Premium</h4>
              </div>
              <div class="card-body">
                <h2 class="card-title">R$29,90<small class="text-muted fw-light">/mês</small></h2>
                <ul class="list-unstyled mt-3 mb-4">
                  <li>Desafios avançados de Javascript</li>
                  <li>JQuery + API's</li>
                  <li>+ 10 projetos</li>
                  <li>+ 5 e-books</li>
                </ul>
                <a href="./Cadastro.html" type="button" class="w-100 btn btn-lg botao-cor-especial">Escolher</a>
              </div>
            </div>
          </article>
        </div>
      </section>
    
        <section class="tabela-comparativo">
          <h2 class=" text-center mb-4">Compare os planos</h2>
          <table class="table-responsive">
            <table class="table text-center">
              <thead>
                <tr>
                  <th></th>
                  <th class="tabela-texto-servico">Grátis</th>
                  <th class="tabela-texto-servico">Plus</th>
                  <th class="tabela-texto-servico">Premium</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row" class="text-start tabela-texto-servico">Flexbox</th>
                  <td>&#10003;</td>
                  <td>&#10003;</td>
                  <td>&#10003;</td>
                </tr>
                <tr>
                  <th scope="row" class="text-start tabela-texto-servico">Landing Pages</th>
                  <td>&#10003;</td>
                  <td>&#10003;</td>
                  <td>&#10003;</td>
                </tr>
                <tr>
                  <th scope="row" class="text-start tabela-texto-servico">Desafios básicos de Javascript</th>
                  <td></td>
                  <td>&#10003;</td>
                  <td>&#10003;</td>
                </tr>
                <tr>
                  <th scope="row" class="text-start tabela-texto-servico">Lógica de Programação</th>
                  <td></td>
                  <td>&#10003;</td>
                  <td>&#10003;</td>
                </tr>
                <tr>
                  <th scope="row" class="text-start tabela-texto-servico">Desafios Avançados de Javascript</th>
                  <td></td>
                  <td></td>
                  <td>&#10003;</td>
                </tr>
                <tr>
                  <th scope="row" class="text-start tabela-texto-servico">JQuery</th>
                  <td></td>
                  <td></td>
                  <td>&#10003;</td>
                </tr>
                <tr>
                  <th scope="row" class="text-start tabela-texto-servico">API's</th>
                  <td></td>
                  <td></td>
                  <td>&#10003;</td>
                </tr>
              </tbody>
            </table>
          </table>
        </section>

    </main>

    <footer class="position-relative bottom-0 bg-light p-3 text-center">
      <p class="m-0"><a> BattleFRONT &#169; - 2022 - all rights reserved</a></p>
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
